html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  overflow-y: scroll;
}


header {
  position: relative;
  width: 100%;
  height: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .top-image {
    position: absolute;
    width: 100%;
    height: 30vw;
    display: flex;

    img {
      z-index: -1;
      width: 100%;
      position: absolute;
      top: 0;
      display: block;
    }
  }

  .header-text {
    width: 100%;
    max-width: 60vw;
    padding: 2vw;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.37);

    .title {
      text-align: center;
      font-size: 5vw;
      padding: 0 0 1vw 0;
      font-weight: 800;
    }

    .sub-title {
      text-align: center;
      font-size: 2vw;
      font-weight: 400;
    }
  }

  @media screen and (max-width: 960px) {
    .header-text {
      max-width: 100%;
      padding: 0.5vw;

      .title {
        font-size: 5vw;
      }

      .sub-title {
        font-size: 3vw;
      }
    }
  }
}

footer {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  div {
    font-size: 24px;
  }
  h1 {
    padding: 0;
    margin: 8px 0 0 0;
    font-size: 50px;
  }
}

main {
  width: 100%;
  background: #3c3c3c;
  padding-bottom: 50px;

  .content {
    max-width: 960px;
    padding: 0 16px;
    margin: auto;
    font-size: 20px;


    h1 {
      margin: 0;
      font-size: 32px;
      text-align: center;
      color: #ffffff;
      width: 100%;
      padding: 50px 0 8px 0;
      border-bottom: 3px solid #ffffff;
    }

    p {
      margin: 0;
      padding: 10px 0 0 0;
      color: #ffffff;
      font-size: 24px;
      line-height: 1.3;
    }

    .full-width {
      display: block;
      width: 100%;
      margin-top: 20px;

      img {
        max-width: 100%;
        display: block;
        object-fit: contain;
      }
    }

    .left-n-right {
      display: flex;
      flex-direction: row;
      width: 100%;
      gap: 20px;
      margin-top: 20px;

      img {
        max-width: 100%;
        display: block;
        object-fit: contain;
      }

      .left {
        flex: 1 1 50%;
      }

      .right {
        flex: 1 1 50%;
      }
    }
  }
}

.color-2 {
  color: #00aa00
}

.color-6 {
  color: #ffaa00
}

.color-b {
  color: #55ffff;
}

.color-c {
  color: #ff5555;
}

.color-d {
  color: #ff55ff
}
